@model IEnumerable<XSIS.Shop.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Orders", FormMethod.Get)) { 

    <div class="card-header">
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" id="OrderNumber" name="OrderNumber" class="form-control" placeholder="Order Number">
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <p class="c-black f-500 m-b-20">Date Picker</p>

                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                    <div class="dtp-container">
                        <input type="text" id="OrderDate" name="OrderDate" class="form-control date-picker" placeholder="Click here...">
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="fg-line">
                    @Html.Label("Customer Name")

                    @Html.DropDownList("CustomerId", null, "-- Pilih Customer --", htmlAttributes: new { @class = "form-control input-sm selectpicker" })
                </div>

            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-primary btn-sm m-t-10">Search</button>
                <a href="@Url.Action("Create", "Orders")" class="btn btn-info btn-sm m-t-10">New Order</a>
            </div>
        </div>
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
}